*::before,
*::after {
  content: "";
}

img {
  width: 100%;
  height: auto;
}


@import "variables.less";
@import "mixins.less";

@import "blocks/btn.less";
@import "blocks/page-body.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/toggle.less";

@import "blocks/weeks-goods.less";
@import "blocks/feature.less";
@import "blocks/reviews.less";
@import "blocks/contacts.less";

@import "blocks/goods.less";
@import "blocks/production.less";

@import "blocks/knitting.less";
@import "blocks/page-footer.less";
@import "blocks/modal-size.less";
