@mobile-widths: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";

// основной цвет
@palette-primary: #63d1bb;
@palette-primary-hover: #59d5bc;
@palette-primary-active: fade(@palette-primary, 30%);

// дополнительный цвет
@palette-secondary: #56c3b2;
@palette-secondary-hover: #46c1ae;
@palette-secondary-active: fade(@palette-secondary-hover, 30%);

// лампа и лего
@palette-icon: #149080;
@palette-icon-normal: fade(@palette-icon, 50%);
@palette-icon-hover: fade(@palette-icon, 70%);
@palette-icon-active: fade(@palette-icon, 30%);

// основной заголовок
@palette-title-primary: #000;
@palette-title-primary-hover: fade(@palette-title-primary, 60%);
@palette-title-primary-active: fade(@palette-title-primary, 30%);

// инверсный заголовок
@palette-title-inverse: #fff;
@palette-title-inverse-hover: fade(@palette-title-inverse, 60%);
@palette-title-inverse-active: fade(@palette-title-inverse, 30%);

// текст
@palette-paragraph: #444444;

@palette-background: #f1f1f1;
@palette-border: #ececec;
