.page-footer {
  width: auto;
  margin-top: 25px;
  padding: 0;
  background-color: @palette-background;
  @media @tablet-widths {
    padding: 33px 0;
  }
}

.page-footer__wrapper {
  .wrapper-wide();
  display: flex;
  flex-direction: column;
  align-items: center;
  @media @tablet-widths {
    flex-direction: row;
  }
}

.page-footer__logo {
  display: none;
  min-width: 200px;
  margin-right: auto;
  @media @tablet-widths {
    display: block;
  }
}

.page-footer__logo-link {
  svg {
    fill: #000;
    .size(102px, 34px);
    &:focus,
    &:hover {
      fill: @palette-secondary-hover;
    }
    &:active {
      fill: @palette-secondary-active;
    }
  }
  &--static svg {
    &:active,
    &:focus,
    &:hover {
      fill: #000;
    }
  }
}

.page-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 260px;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
  @media @tablet-widths {
    min-width: 200px;
    border-bottom: none;
  }
}

.page-footer__copyright {
  min-width: 260px;
  padding: 21px 0;
  .font-bold();
  font-size: 19px;
  line-height: 19px;
  @media @tablet-widths {
    min-width: 200px;
    margin-left: auto;
    justify-content: flex-end;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: @palette-title-primary;
  text-decoration: none;
  @media @tablet-widths {
    justify-content: flex-end;
  }
  span {
    display: block;
    margin-right: 30px;
  }
  svg {
    .size(27px, 35px);
    fill: @palette-primary;
  }
  &:hover,
  &focus {
    svg {
      fill: @palette-secondary-hover;
    }
  }
  &:active {
    span {
      color: @palette-title-primary-active;
    }
    svg {
      fill: @palette-secondary-active;
    }
  }
}


// для ИЕ
.page-footer__copyright-link span:active {
  color: @palette-title-primary-active;
}

.page-footer__copyright-link span:active ~ svg,
.page-footer__copyright-link svg:active {
  fill: @palette-secondary-active;
}
