.btn {
  display: block;
  width: 260px;
  padding: 14px;
  .font-bold();
  font-size: 18px;
  line-height: 20px;
  color: @palette-paragraph;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid @palette-paragraph;
  outline: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: @palette-paragraph;
    color: #fff;
  }

  &:active {
    color: fade(#fff, 30%);
  }
  &:disabled,
  .disabled {
    color: @palette-border;
    border: 2px solid @palette-border;
  }

  &--palette-primary {
    color: #fff;
    border: 2px solid @palette-primary;
    background-color: @palette-primary;
    &:focus,
    &:hover {
      color: fade(#fff, 60%);
      background-color: @palette-primary;
    }
    &:active {
      color: fade(#fff, 30%);
      background-color: @palette-primary;
    }
  }
}
