.feature {
  .wrapper-left();
  margin-bottom: 55px;
  @media @tablet-widths {
    margin-bottom: 131px;
  }
  @media @desktop-widths {
    margin-bottom: 131px;
  }
}

.feature__title {
  margin-bottom: 31px;
  font-size: 25px;
  line-height: 30px;
  .font-title-media();
  @media @tablet-widths {
    margin-bottom: 47px;
  }
}

.feature__content {
  @media @tablet-widths {
    display: flex;
  }
}

.feature__list {
  margin: 0 0 28px;
  padding: 0;
  list-style: none;
  @media @tablet-widths {
    &--right {
      width: 290px;
      margin-right: 45px;
    }
    &--left {
      width: 335px;
    }
  }
  @media @desktop-widths {
    &--right {
      width: 305px;
      margin-right: 45px;
    }
    &--left {
      width: 350px;
    }
  }
}

.feature__item {
  position: relative;
  display: block;
  width: 260px;
  margin-bottom: 28px;
  padding-top: 55px;
  .font-bold();
  font-size: 17px;
  line-height: 20px;
  color: @palette-title-primary;
  &:last-of-type {
    margin-bottom: 0;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    fill: @palette-primary;
  }
  &--eco svg {
    top: 0;
    left: 8px;
    .size(33px, 38px);
  }
  &--style svg {
    top: 2px;
    left: 0;
    .size(47px, 27px);
  }
  &--heart svg {
    top: 7px;
    left: 8px;
    .size(34px, 27px);
  }
  &--roll svg {
    top: 4px;
    left: 4px;
    .size(35px, 34px);
  }
  &--support svg {
    top: 5px;
    left: -6px;
    .size(55px, 23px);
  }
  &--gift svg {
    top: 3px;
    left: 3px;
    .size(33px, 32px);
  }
  @media @tablet-widths {
    margin-bottom: 55px;
    padding-top: 56px;
    font-size: 20px;
    line-height: 22px;
  }
}
