.feature {
  .wrapper-left();
  margin-top: 27px;
  margin-bottom: 55px;
  @media @tablet-widths {
    margin-top: 51px;
    margin-bottom: 50px;
  }
  @media @desktop-widths {
    margin-top: 59px;
  }
}

.feature__title {
  margin-bottom: 31px;
  font-size: 25px;
  line-height: 30px;
  .font-title();
  @media @tablet-widths {
    margin-bottom: 48px;
  }
}

.feature__content {
  @media @tablet-widths {
  display: flex;
}
}

.feature__list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  list-style: none;
  @media @tablet-widths {
    &--right {
      width: 290px;
      margin-right: 45px;
    }
    &--left {
      width: 335px;
    }
  }
  @media @desktop-widths {
    &--right {
      width: 305px;
      margin-right: 45px;
    }
    &--left {
      width: 350px;
    }
  }
}

.feature__item {
  position: relative;
  display: block;
  width: 260px;
  margin-bottom: 28px;
  padding-top: 55px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--eco::after {
    top: 0;
    left: 8px;
    .size(33px, 38px);
    background-image: url("../img/icon-feature-1.svg");
  }

  &--style::after {
    top: 2px;
    left: 0;
    .size(47px, 27px);
    background-image: url("../img/icon-feature-3.svg");
  }

  &--heart::after {
    top: 7px;
    left: 8px;
    .size(34px, 27px);
    background-image: url("../img/icon-feature-5.svg");
  }

  &--roll::after {
    top: 4px;
    left: 4px;
    .size(35px, 34px);
    background-image: url("../img/icon-feature-2.svg");
  }

  &--support::after {
    top: 5px;
    left: -6px;
    .size(55px, 23px);
    background-image: url("../img/icon-feature-4.svg");
  }

  &--gift::after {
    top: 3px;
    left: 3px;
    .size(33px, 32px);
    background-image: url("../img/icon-feature-6.svg");
  }

  @media @tablet-widths {
    margin-bottom: 55px;
    font-size: 20px;
    line-height: 22px;
  }
}
