.goods {
  margin-top: 31px;
  margin-bottom: 30px;
}

.goods__wrapper {
  width: 260px;
  margin: 0 auto;
}

.goods__card {
  display: block;
  width: 260px;
  margin-bottom: 30px;
}

.goods__link-img {
  display: block;
  .size(260px, 195px);
}

.goods__info {
  padding-top: 26px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 27px;
  border: 1px solid #ececec;
  .shadow-card();
}

.goods__title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  a {
    color: #000;
    text-decoration: none;
  }
}

.goods__description {
  display: block;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.goods__footer-card {
  display: flex;
  margin-top: 19px;
  padding-top: 21px;
  border-top: 1px solid #ececec;
}

.goods__price {
  display: block;
  margin-right: auto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.goods__cart {
  display: block;
  .size(20px, 20px);
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}
