.main-nav {
  position: absolute;
  display: none;
  width: 320px;
  background: #fff;
  z-index:  1;
  &::before {
    position: absolute;
    top: -80px;
    display: block;
    .size(320px, 150px);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border-bottom: 1px solid #ececec;
  a {
    display: block;
    padding: 27px 0;
    padding-left: 75px;
    color: #000;
    text-decoration: none;
  }
  &::before {
    position: absolute;
      top: 30px;
      left: 32px;
    .size(18px, 19px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &--search::before {
    background-image: url("../../img/icon-search.svg");
  }
  &--cart::before {
    background-image: url("../../img/icon-cart.svg");
  }
}
