.page-header {
  position: relative;
  margin-bottom: 20px;
  border-top: 1px solid @palette-border;
  &::after {
    position: absolute;
    bottom: -1px;
    display: none;
    .size(100%, 24px);
    background-image: url("../img/bg-zigzag-fill.svg");
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: 1;
  }
  @media @tablet-widths {
    margin-bottom: 30px;
    &::after {
      display: block;
    }
  }
  @media @desktop-widths {
    margin-bottom: 50px;
    &::after {
      height: 34px;
    }
  }
}

.page-header__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  @media @tablet-widths {
    width: 670px;
    padding: 0 49px;
  }
  @media @desktop-widths {
    width: 1050px;
    padding: 0 50px;
  }
}

.page-header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid transparent;
  @media @tablet-widths {
    margin-bottom: -80px;
  }
  @media @desktop-widths {
    margin: 0 auto -80px;
  }
}

.page-header__logo {
  display: block;
  .size(86px, 35px);
  margin: 0 auto;
  z-index: 2;
  @media @desktop-widths {
    margin: 0 auto;
  }
  img:focus,
  img:hover {
    opacity: 0.6;
  }
  img:active {
    opacity: 0.3;
  }
  &--static {
    img:active,
    img:focus,
    img:hover {
      opacity: 1;
    }
  }
  @media @tablet-widths {
    .size(113px, 46px);
    margin-top: 7px;
    margin-left: 0;
    margin-right: auto;
  }
  @media @desktop-widths {
    .size(149px, 72px);
    margin: 0 auto;
    margin-top: 7px;
  }
}

.page-header__hamburger {
  position: absolute;
  top: 33px;
  right: 30px;
  .size(21px, 21px);
  z-index: 10;
  @media @tablet-widths {
    display: none;
  }
}

.page-header__heading {
  background-color: @palette-background;
  border-top: 1px solid @palette-border;
  .page-header__title {
    padding-top: 70px;
    padding-bottom: 75px;
  }
  @media @tablet-widths {
    .page-header__title {
      padding-top: 95px;
      padding-bottom: 92px;
    }
  }
  @media @desktop-widths {
    .page-header__title {
      padding-top: 93px;
      padding-bottom: 120px;
    }
  }
}

.page-header__promo {
  min-height: 488px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -20px;
  background-color: #f9f9f9;
  @media @retina {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
  border-top: 1px solid @palette-border;
  z-index: -1;
  .page-header__title {
    margin-top: 70px;
  }
  @media @tablet-widths {
    min-height: 756px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center top;
    @media @retina {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
    .page-header__title {
      margin-top: 153px;
    }
  }
  @media @desktop-widths {
    min-height: 762px;
    background-size: 1250px 746px;
    background-position: center top;
    @media @retina {
      background-size: 1250px 746px;
    }
  }
}

.page-header__title {
  width: 260px;
  .font-bold();
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: @palette-title-primary;
  .wrapper-wide();
  @media @tablet-widths {
    font-size: 43px;
    line-height: 50px;
  }
  @media @desktop-widths {
    font-size: 53px;
    line-height: 57px;
  }
}

.page-header__catalog {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 320px;
  margin-left: calc( -320px/2);
  @media @tablet-widths {
    flex-direction: row;
    width: 670px;
    margin-left: calc( -670px/2);
  }
  @media @desktop-widths {
    width: 1050px;
    margin-left: calc( -1050px/2);
  }
}

.page-header__col {
  position: relative;
  width: 320px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 30px;
  padding-left: 30px;
  .font-bold();
  font-size: 19px;
  line-height: 24px;
  color: @palette-title-inverse;
  text-decoration: none;
  box-sizing: border-box;
  @media @tablet-widths {
    font-size: 20px;
    width: 335px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 43px;
    padding-left: 36px;
  }
  @media @desktop-widths {
    width: 525px;
    padding-bottom: 48px;
  }
  &:focus,
  &:hover {
    padding-bottom: calc(30px + 5px);
    @media @tablet-widths {
      padding-bottom: calc(43px + 5px);
    }
    @media @desktop-widths {
      padding-bottom: calc(48px + 5px);
    }
    svg {
      fill: @palette-icon-hover;
    }
  }
  &:active {
    color: @palette-title-inverse-active;
    svg {
      fill: @palette-icon-active;
    }
  }
  svg {
    position: absolute;
    top: 20px;
    right: 30px;
    fill: @palette-icon-normal;
  }
  &--interior {
    background-color: @palette-primary;
    &:active,
    &:focus,
    &:hover {
      background-color: @palette-primary-hover;
    }
    svg {
      top: 22px;
      right: 35px;
      .size(41px, 62px);
      @media @tablet-widths {
        top: 30px;
      }
    }
  }
  &--toy {
    background-color: @palette-secondary;
    &:active,
    &:focus,
    &:hover {
      background-color: @palette-secondary-hover;
    }
    svg {
      right: 26px;
      .size(61px, 61px);
      @media @tablet-widths {
        top: 32px;
        right: 35px;
      }
    }
  }
}
