.production {
  .wrapper-wide();
  margin-bottom: 60px;
  @media @tablet-widths {
    margin-bottom: 63px;
  }
  @media @desktop-widths {
    margin-bottom: 105px;
  }
}

.production-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 33px 30px;
  border: 1px solid @palette-border;
  .shadow-card();
  @media @tablet-widths {
    padding: 20px 40px 45px;
    margin-top: 456px;
  }
  @media @desktop-widths {
    .size(368px, 455px);
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 682px;
    padding-top: 78px;
    padding-left: 78px;
    padding-right: 55px;
    padding-bottom: 60px;
    box-sizing: border-box;
  }
}

.production-card__title {
  position: relative;
  margin-bottom: 200px;
  padding-left: 60px;
  .font-bold();
  font-size: 17px;
  line-height: 24px;
  color: @palette-title-primary;
  @media @tablet-widths {
    margin-bottom: 32px;
    padding-left: 64px;
    font-size: 20px;
  }
  @media @desktop-widths {
    margin-bottom: 33px;
    padding-left: 0;
    font-size: 20px;
  }
  svg {
    position: absolute;
    top: 11px;
    left: 0;
    .size(32px, 32px);
    fill: @palette-primary;
    @media @tablet-widths {
      top: -5px;
      left: 0;
    }
    @media @desktop-widths {
      top: -55px;
      left: 2px;
    }
  }
}

.production-card__video {
  position: absolute;
  top: 96px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .size(259px, 150px);
  margin-bottom: 27px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: @palette-background;
  @media @tablet-widths {
    position: absolute;
    top: -456px;
    .size(670px, 455px);
    background-image: url("../img/video-tablet@1x.jpg");
  }
  @media @desktop-widths {
    .size(682px, 455px);
    top: 0;
    left: -682px;
    background-image: url("../img/video-desktop@1x.jpg");
  }
}

@media @mobile-widths and (min-resolution: 144dpi),
       @mobile-widths and (min-resolution: 1.5dppx) {
  .production-card__video {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 259px auto;
  }
}

@media @tablet-widths and (min-resolution: 144dpi),
       @tablet-widths and (min-resolution: 1.5dppx) {
  .production-card__video {
    background-image: url("../img/video-tablet@2x.jpg");
    background-size: 670px auto;
  }
}

@media @desktop-widths and (min-resolution: 144dpi),
       @desktop-widths and (min-resolution: 1.5dppx) {
  .production-card__video {
    background-image: url("../img/video-desktop@2x.jpg");
    background-size: 682px auto;
  }
}

.production__play {
  display: block;
  .size(100px, 75px);
  margin-left: -10px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  transition: 0.1s;
  &:focus,
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    outline: none;
    opacity: 0.7;
    transform: scale(0.8);
  }
}

.production-card__description {
  .font-normal();
  font-size: 13px;
  line-height: 24px;
  @media @tablet-widths {
    font-size: 15px;
    line-height: 30px;
  }
  p {
    margin: 0;
    margin-bottom: 18px;
  }
}

.production__btn {
  width: auto;
  margin-top: 8px;
  @media @tablet-widths {
    margin-top: 17px;
  }
  @media @desktop-widths {
    margin-top: auto;
  }
}

// для иконки play
#play-inner {
  fill: @palette-primary;
}

#play-outer {
  fill: #fff;
}

#play-triangle {
  fill: #fff;
}
