.weeks-goods {
  margin-top: 27px;
  margin-bottom: 35px;
}

.weeks-goods__wrapper {
  width: 260px;
  margin: 0 auto;
}

.weeks-goods__title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 23px;
  color: #000;
}

.weeks-goods__name {
  display: block;
  flex-grow: 1;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.weeks-goods__flag {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: @palette-primary;
  text-transform: uppercase;
}

.weeks-goods__description {
    p {
      margin-top: 23px;
      margin-bottom: 18px;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
  }
}

.weeks-goods__table {
  width: 100%;
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}

.weeks-goods__tr {
  border-bottom: 1px solid #ececec;
}

.weeks-goods__td {
  padding: 10px 0;
  &--first {
    width: 100px;
  }
}

.weeks-goods__photo {
  display: block;
  .size(260px, 315px);
}

.weeks-goods__price {
  display: block;
  margin-top: 24px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.weeks-goods__btn {
  margin-top: 26px;
}
